node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/health-onboarding-form.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/prettier.xml
/.idea/vcs.xml
